
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color: black;
    border-radius: 6px;
}
/* .navbar img{ */
    /* padding-right: 1000px; */
    /* padding-right: 800px;
} */
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navs{
    margin: 10px;
    padding:20px;
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
}
.content{
    padding: 100px;
    background-color: rgb(214, 213, 213);
    text-align: center;
}

/* services container  */
.header{
    margin:0%;
}
.services{
    background-color: aliceblue;
    text-align: center;
}
.servicescontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.services p{
    font-size: 20px;
}
.item{
    max-width: 250px;
    margin: 60px;
    padding: 10px;
    
}

hr{
    width: 80%;
    height: 2px;
    border-width: 0;
    color: black;
    background-color: black;
}
.aboutus{
    padding: 20px;
    margin: 20px;

}
.inner{
    /* max-width: 300px; */
    background-color: black;
    display: flex;

    justify-content: center;
    flex-wrap:wrap ;
    padding: 30px;
}
.inner img{
    padding-top: 15px;
    
}
.inner p{
    margin-left: 30px;
    max-width: 560px;
    font-size: x-large;
    color: white;
}

.containercontact{
    display: flex;
    justify-content: center;
    background-color: beige;
    padding: 20px;
    flex-wrap: wrap;
}

.box{
    max-width: 20%;
    padding: 40px;
    
}
.contactus{
    text-align: center;
}
/* .containercontact p h3{
    max-width: 10px;
} */

.box p{
    font-size: large;
}

.footer{
    text-align: center;
}

.content p{
    font-size: x-large;
}